@font-face{
    font-family: Varela-Regular;
    src: url('Varela-Regular.ttf');
}

body{
    font-family: Varela-Regular;
  
    text-align: center;
}

h3,h4{
    padding: 20px;
}
input[type="file"],input[type="submit"]{
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 2px solid #839192;
    border-radius: 5px 5px;
}
form{
    display: inline-block;
    
    padding: 10px;
}
li{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    border: 2px solid #839192;
    border-radius: 1px 1px;
    padding: 10px;
    
}
.source,.dest{
    width: 80%;
    border: 10px solid #17A589;
    border-radius: 5px,5px;
    margin 0px;
}
.bord {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
